<ion-header>

  <ion-navbar>
    <ion-title>Profesor</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

    <ion-card>
        <img src="../../assets/imgs/professor.png"/>
        <ion-card-content>
          <div *ngIf="teacher">
            <ion-card-title>
              Prof. {{ teacher.name }}
            </ion-card-title>
            <strong><h2>Curso:</h2></strong>
            <p>{{ teacher.curse }}</p>
            <strong><h2>Bio</h2></strong>
            <p>
              {{ teacher.bio }}
            </p>
          </div>
        </ion-card-content>
    </ion-card>

    <ion-fab right top>
      <button ion-fab color="primary" (click)="teacherEdit()"><ion-icon name="md-add"></ion-icon></button>
    </ion-fab>

</ion-content>
