<!--
  Generated template for the StudentCreatePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Crear Estudiante</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form [formGroup]="formGroup" (ngSubmit)="saveStudent(formGroup.value)" novalidate>
    <ion-item>
      <ion-label floating>Nombre</ion-label>
      <ion-input type="text" formControlName="name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Carrera:</ion-label>
      <ion-input type="text" formControlName="carrer"></ion-input>
    </ion-item>

    <button ion-button block type="submit" [disabled]="!formGroup.valid">Guardar</button>
  </form>
</ion-content>
