<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="Home" tabIcon="home"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Notas" tabIcon="md-copy"></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="Estudiantes" tabIcon="md-contacts"></ion-tab>
</ion-tabs>
