<!--
  Generated template for the StudentPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Estudiantes</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item-sliding *ngFor="let student of students; let i = index">
      <ion-item>
        <ion-avatar item-start>
          <img src="../../assets/imgs/student.png">
        </ion-avatar>
        <h2>{{student.name}}</h2>
        <span>{{student.carrer}}</span>
      </ion-item>
      <ion-item-options side="left">
        <button (click)="editStudent(i)" ion-button color="primary">
          <ion-icon name="md-create"></ion-icon>
          Editar
        </button>
        <button (click)="deleteStundet(i)" ion-button color="danger">
          <ion-icon name="md-trash"></ion-icon>
          Eliminar
        </button>
        <button (click)="showStudent(i)" ion-button color="secondary">
          <ion-icon name="md-bookmarks"></ion-icon>
          Calificar
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-fab bottom right>
    <button ion-fab (click)="createStundet()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
</ion-content>
