<!--
  Generated template for the NoteEditPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{ note.name }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <form [formGroup]="formGroup" (ngSubmit)="editNote(formGroup.value)" novalidate>
        <ion-item>
          <ion-label floating>Titulo:</ion-label>
          <ion-input type="text" formControlName="name"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label floating>Valor: (%)</ion-label>
            <ion-input type="number" formControlName="value"></ion-input>
        </ion-item>
        <button ion-button block type="submit" [disabled]="!formGroup.valid">Guardar</button>
      </form>
</ion-content>
