<!--
  Generated template for the StudentNotePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{ student.name }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <form [formGroup]="formGroup" (ngSubmit)="saveNote(formGroup.value)" novalidate>
        <ion-item>
          <ion-label floating>Calificacion: </ion-label>
          <ion-input type="number" formControlName="valueStudent"></ion-input>
        </ion-item>

        <button ion-button block type="submit" [disabled]="!formGroup.valid">Guardar</button>
      </form>
</ion-content>
