<!--
  Generated template for the StudentShowPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{ student.name }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card>
    <img src="../../assets/imgs/student.png"/>
    <ion-card-content>
        <ion-card-title>
          Estudiante. {{ student.name }}
        </ion-card-title>
        <strong><h2>Curso:</h2></strong>
        <p>{{ student.carrer }}</p>
        <strong><h2>Nota Final:</h2></strong>
        <p>
          {{ student.total }}
        </p>
    </ion-card-content>
  </ion-card>

  <ion-list>
    <ion-list-header>
      Notas:
    </ion-list-header>
    <ion-item *ngFor="let note of student.notes; let i = index">
      <ion-avatar item-start>
        <img src="../../assets/imgs/list.png">
      </ion-avatar>
      {{ note.name }}  ({{ note.valueStudent }})

      <div *ngIf="note.valueStudent != 0">
          <button (click)="noteEdit(i)" ion-button icon-start item-end color="danger">
              <ion-icon name="md-checkmark"></ion-icon>
              Calificar
          </button>
      </div>

      <div *ngIf="note.valueStudent == 0">
          <button (click)="noteEdit(i)" ion-button icon-start item-end color="secondary">
              <ion-icon name="md-checkmark"></ion-icon>
              Calificar
          </button>
      </div>
    </ion-item>
  </ion-list>
</ion-content>
