<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item (click)="showStudent(i)" *ngFor="let student of students; let i = index">
      <ion-avatar item-start>
        <img src="../../assets/imgs/student.png">
      </ion-avatar>
      <h2>{{ student.name }}</h2>
      <p>Promedio: {{ student.total }}</p>
    </ion-item>
  </ion-list>
</ion-content>
