<!--
  Generated template for the NotePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Notas</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-list>
        <ion-item-sliding *ngFor="let note of notes; let i = index">
          <ion-item>
            <ion-avatar item-start>
              <img src="../../assets/imgs/notepad.png">
            </ion-avatar>
            <h2>{{note.name}}</h2>
            <span>Porcentaje: {{note.value}}</span>
          </ion-item>
          <ion-item-options side="left">
            <button (click)="editNote(i)" ion-button color="primary">
              <ion-icon name="md-create"></ion-icon>
              Editar
            </button>
            <button (click)="deleteNote(i)"  ion-button color="danger">
              <ion-icon name="md-trash"></ion-icon>
              Eliminar
            </button>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>

      <ion-fab bottom right>
          <button (click)="createNote()" ion-fab ><ion-icon name="add"></ion-icon></button>
      </ion-fab>
</ion-content>
