<!--
  Generated template for the TeacherEditPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Editar Profesor</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <form [formGroup]="formGroup" (ngSubmit)="saveTeacher(formGroup.value)" novalidate>
        <ion-item>
          <ion-label floating>Nombre:</ion-label>
          <ion-input type="text" formControlName="name"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label floating>Curso:</ion-label>
            <ion-input type="text" formControlName="curse"></ion-input>
          </ion-item>
        <ion-item>
          <ion-label floating>Bio:</ion-label>
          <ion-textarea type="text" formControlName="bio"></ion-textarea>
        </ion-item>

        <button ion-button block type="submit" [disabled]="!formGroup.valid">Guardar</button>
      </form>
</ion-content>
